//
   Created by alex on 03.08.2016.
extends layout

block content
    header
        h1 Squad
        p These are your players

        table.table.table-striped.table-hover.tabel-condensed
            thead
                th Pos
                th Name
                th Age
                th Value
                th Skill
                th Av.R
                th Morale
                th Condition
                th Nationality
            tbody
                -for(var i = 0; i < playerdata.length; ++i)
                    tr
                        td #{playerdata[i].position}
                        td
                            a(href='/player/#{playerdata[i].playerid}') #{playerdata[i].firstname} #{playerdata[i].surname}
                        td #{playerdata[i].age}
                        td 2.278.987
                        td #{playerdata[i].overall}
                        td 7.29
                        td 86
                        td 97
                        td 8

