//
   Created by alex on 07.08.2016.
p
    .container-fluid
        .well.well-lg
            p other details for debug
            table.table.table-bordered
                tr
                    td  Overall :
                    td  #{player_skill}
                tr
                    td  Control :
                    td  #{player_control}
                tr
                    td  Mastery :
                    td  #{player_mastery}
                tr
                    td  Physical :
                    td  #{player_physical}
                tr
                    td  Mental :
                    td  #{player_mental}
                tr
                    td  Closetouch :
                    td  #{player_closetouch}
                tr
                    td  Widetouch :
                    td  #{player_widetouch}
                tr
                    td  Defensive :
                    td  #{player_defensive}
                tr
                    td  Offensive :
                    td  #{player_offensive}
                tr
                    td  Physique :
                    td  #{player_physique}
                tr
                    td  Swiftness :
                    td  #{player_swiftness}
                tr
                    td  Placement :
                    td  #{player_placement}
                tr
                    td  Intelligence :
                    td  #{player_intelligence}
